/** @format */

// Simple styling
html body {
    margin: 0;
    padding: 0;
    background-color: #eff1f3;
    font-family: Lato, sans-serif;
}

/**
 * Overiding bootstrap to add extra breakpoints.
 * import what we need to override
 */
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

/* set the overriding variables */
$grid-breakpoints: (
    xxs: 0,
    xs: 568px,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1300px,
    xxl: 1600px,
);
$container-max-widths: (
    xxs: 0,
    xs: 568px,
    sm: 667px,
    md: 768px,
    lg: 992px,
    xl: 1300px,
    xxl: 1600px,
);

/* override the !default vars with the values we set above */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
