/** @format */

div.main {
    background-color: white;
    overflow-y: scroll;
    height: calc(70vh);
    border: 3px solid lightgray;
    border-radius: 6px;
}

div.main::-webkit-scrollbar {
    display: none;
}

.main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
